@import "@metrifox/angular-sdk/styles.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
}

pg-layout,
pg-preview,
pg-config-panel,
pg-theme-panel,
pg-editable-code-view,
pg-empty-state,
customer-portal-widget,
pricing-table-widget {
  display: contents;
}
